.nearbyPlacesView {
  padding: 0;
  margin: 0;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll;
}

.title {
  font-family: "AppleChancery";
  font-size: 32px;
  text-align: center;
  color: black;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.bodyText {
  font-family: "LucidaCalligraphy";
  font-size: 14px;
  text-align: justify;
  color: black;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.row {
  margin-top: 40px;
  display: "flex";
  margin-left: 10%;
  margin-right: 10%;
}

.rightImage {
  margin: 10px 20px;
  float: right;
}

.leftImage {
  margin: 10px 20px;
  float: left;
}

.cardText {
  font-family: "LucidaCalligraphy";
  font-size: 14px;
  text-align: justify;
  color: black;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

