.nearbyPlacesView {
  padding: 0;
  margin: 0;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
}

.title {
  font-family: "AppleChancery";
  font-size: 32px;
  text-align: center;
  color: black;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.bodyText {
  font-family: "LucidaCalligraphy";
  font-size: 14px;
  text-align: justify;
  color: black;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.row {
  display: "flex";
  margin-left: 10%;
  margin-right: 10%;
}

.rightImage {
  vertical-align: middle;
  height: 100%;
  margin: 10px 10px;
  float: right;
  width: 210px;
  height: 160px;
}

.leftImage {
  vertical-align: middle;
  height: 100%;
  margin: 10px 20px;
  float: left;
  width: 210px;
  height: 160px;
}

.cardText {
  font-family: "LucidaCalligraphy";
  font-size: 14px;
  text-align: justify;
  color: black;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 20px 20px;
}

.content {
  display: inline-block;
  overflow: hidden;
  margin-top: 5px;
}
