.partySpotView {
  padding: 0;
  margin: 0;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 50px;
}

.title {
  font-family: "AppleChancery";
  font-size: 32px;
  color: black;
  margin-left: 10px;
}

.bodyText {
  font-family: "LucidaCalligraphy";
  font-size: 14px;
  text-align: justify;
  color: black;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.attentionTitleText {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
  color: black;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 6%;
  margin-right: 6%;
}

.attentionBodyText {
  font-family: "LucidaCalligraphy";
  font-size: 14px;
  text-align: justify;
  color: black;
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
}

.attentionContainer {
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 40px;
  border-radius: 5px;
  padding: 3%;
  background-color: #eaeaea;
}

.centeredText {
  font-family: "LucidaCalligraphy";
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: black;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.mainImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pinImage {
  display: block;
  width: 32px;
  left: 32px;
}

.mapContainer {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.emptyDiv {
  height: 40px;
}
