.partySpotView {
  padding: 0;
  margin: 0;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 50px;
}

.title {
  font-family: "AppleChancery";
  font-size: 32px;
  color: black;
  margin-left: 10px;
}

.bodyText {
  font-family: "LucidaCalligraphy";
  font-size: 14px;
  text-align: justify;
  color: black;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.mainImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 60%;
  margin-top: 40px;
  margin-bottom: 20px;
}

.pinImage {
  display: block;
  width: 32px;
  left: 32px;
}

.mapContainer {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.emptyDiv {
  height: 40px;
}
