.homeView {
  padding: 0;
  margin: 0;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
}

.mainImage {
  margin-bottom: 0px;
  width: 100%;
}

.title {
  font-family: "AppleChancery";
  font-size: 38px;
  text-align: center;
  color: black;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.title2 {
  font-family: "AndaleMono";
  font-size: 20px;
  text-align: center;
  color: black;
  margin-top: -20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
}

.bodyText {
  font-family: "LucidaCalligraphy";
  font-size: 14px;
  text-align: justify;
  color: black;
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.youtubeVideo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0px;
  height: 315px;
}

.bottomImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0px;
}

.emptyDiv {
  height: 20px;
}
