body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "AppleChancery";
  src: local("AppleChancery"),
    url("./fonts/AppleChancery/Apple-Chancery.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "AndaleMono";
  src: local("AndaleMono"),
    url("./fonts/AndaleMono/Andale-Mono.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "LucidaCalligraphy";
  src: local("LucidaCalligraphy"),
    url("./fonts/LucidaCalligraphy/Lucida-Calligraphy.ttf") format("truetype");
  font-weight: bold;
}
